---
---

// colors
[data-dark="false"] {
  --primary: #35634f;
  --secondary: #e3ebdf;
  --text: #26352e;
  --background: #faf9f6;
  --background-alt: #f0f2ec;
  --light-gray: #dce1d8;
  --gray: #68746c;
  --dark-gray: #44534a;
  --overlay: #1c33260d;
}
[data-dark="true"] {
  --primary: #b6d4b9;
  --secondary: #2a4034;
  --text: #edf1e9;
  --background: #17231e;
  --background-alt: #1e2c25;
  --light-gray: #35483c;
  --gray: #afbeb1;
  --dark-gray: #c6d1c7;
  --overlay: #00000016;
}

:root {
  // font families
  --title: "DM Sans", sans-serif;
  --heading: "DM Sans", sans-serif;
  --body: "DM Sans", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 1.75;
  --compact: 1.55;

  // effects
  --rounded: 10px;
  --shadow: 0 8px 28px -12px var(--overlay);
  --transition: 0.2s ease;
}
